    <%- include('partials/navbar'); -%>

    <div class="info">
        <h1><%-categoryId%></h1>
        <div class ="products">
            <% if(subCategories != '') {%>
                <%subCategories.forEach((subCategory, index) => { %>
                    <a href="/subcategory/<%- subCategory.name %>" class="category">
                        <div class="category_img">
                            <img src="<%- subCategory.image %>" alt="<%- subCategory.name %>" loading="lazy">
                        </div>
                        <div class="category_title">
                            <%- subCategory.name %>
                        </div>
                    </a>
                <% }); %>
            <% } else {%>
                <h2 style="color: white; font-size: 40px;">No products in this category</h2>
            <% } %>
        </div>
    </div>
</body>

</html>