<%- include('partials/navbar'); -%>

<div class="info">
    <h1><%-subcategoryId%></h1>
    <div class ="products">
        <% if(products != '') {%>
            <%products.forEach((product, index) => { %>
                <a href="/product/<%- product.name %>" class="category">
                    <div class="category_img">
                        <img src="<%- product.image %>" alt="<%- product.name %>" loading="lazy">
                    </div>
                    <div class="category_title">
                        <%- product.name %>
                    </div>
                </a>
            <% }); %>
        <% } else {%>
            <h2 style="color: white; font-size: 40px;">No products in this category</h2>
        <% } %>
    </div>
</div>
</body>

</html>